In [2]:
import pandas as pd
import os

In [3]:
wd = "D:/Projects/Watersheds/Gunnison"

In [4]:
resf151 = "Sub151 Morrow Point.xlsx"
resf152 = "Sub152 Blue Mesa.xlsx"

In [5]:
res151 = pd.read_excel(os.path.join(wd, resf151))
res151

,datetime,total release,cms,cubic feet per second,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,1971-01-01,2189.207280,61.954566,1971,1,1,61.954566
1,1971-01-02,2302.427250,65.158691,1971,1,2,65.158691
2,1971-01-03,2165.886230,61.294580,1971,1,3,61.294580
3,1971-01-04,2470.380370,69.911764,1971,1,4,69.911764
4,1971-01-05,2140.365720,60.572350,1971,1,5,60.572350
...,...,...,...,...,...,...,...
18258,2020-12-27,457.349167,12.942981,2020,12,27,12.942981
18259,2020-12-28,383.066667,10.840787,2020,12,28,10.840787
18260,2020-12-29,80.000000,2.264000,2020,12,29,2.264000
18261,2020-12-30,305.859583,8.655826,2020,12,30,8.655826
18262,2020-12-31,304.590000,8.619897,2020,12,31,8.619897

In [6]:
res151.index = res151.datetime

In [7]:
res151m = res151['cms'].resample('M').mean()
res151m.name = 'res151'

In [8]:
res152 = pd.read_excel(os.path.join(wd, resf152))
res152

        datetime  total release cfs        cms
0     1968-12-01         1462.06201  41.376355
1     1968-12-02         1855.30627  52.505167
2     1968-12-03         1653.64258  46.798085
3     1968-12-04         1830.09827  51.791781
4     1968-12-05         1572.97705  44.515251
...          ...                ...        ...
19141 2021-04-28         1683.39125  47.639972
19142 2021-04-29         1565.01458  44.289913
19143 2021-04-30         1539.97083  43.581174
19144 2021-05-01         1574.02375  44.544872
19145 2021-05-02         1651.43042  46.735481

[19146 rows x 3 columns]

In [9]:
res152.index = res152.datetime
res152m = res152['cms'].resample('M').mean()
res152m.name = 'res152'

In [10]:
res_df = pd.concat([res151m, res152m], axis=1)
res_df

            res151     res152
datetime
1968-12-31     NaN  43.590151
1969-01-31     NaN  42.232417
1969-02-28     NaN  20.000270
1969-03-31     NaN  44.639518
1969-04-30     NaN  45.651911
...            ...        ...
2021-01-31     NaN   8.918256
2021-02-28     NaN  10.489712
2021-03-31     NaN  14.620128
2021-04-30     NaN  37.666058
2021-05-31     NaN  45.640177

[630 rows x 2 columns]

In [11]:
res_df.to_csv('res_mon.obd', float_format='%.2f', sep='\t', na_rep=-999)

In [12]:
os.getcwd()

'd:\\spark-brc_gits\\apexmf_git'

In [13]:
res_df.to_excel('res_mon.xlsx')